<h1>Edit Text block</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.text_block_path(@conn, :update, @text_block)) %>

<span><%= link "Back", to: Routes.text_block_path(@conn, :index) %></span>
